.whole-bg{
    height: 100vh;
    background: linear-gradient(left, $bg-color1, $bg-color2);
    color: $white-color;
}
.right-side{
    margin: 1rem auto;
    padding-bottom: 6.5rem;
    border-top-left-radius: 25% 50%;
    border-bottom-left-radius: 25% 50%;
}