.whole-bg{
    height: 100%;
    background: linear-gradient(left, $bg-color1, $bg-color2);
    color: $white-color;
}
.right-side{
    margin-top: 1rem;
    padding-bottom: 6.7rem;
    border-top-left-radius: 25% 50%;
    border-bottom-left-radius: 25% 50%;
}